*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    overflow-x: hidden;
}
.navbar{
    padding-top: 5vh;
}

.navbar-nav{
    padding-left: 8vw;
    margin-left: 23vw;
}

.esports{
    font-size: xx-large;
}

.navfont{
    font-size: medium;
    color: white;
    margin-left: 1.5vw;
    text-decoration: none;
}
.navfont:hover{
    color: blue;
    border-bottom: 1px solid orange;
}

.esports{
    margin-left: 5vw;
}
.btn-sub{
    height: 5vh;
    width: 8vw;
}
.signup{
    margin-right: 5vw;
    font-size: small;
    border-radius: 50px;
}

.linkimg{
    margin-right: 0.5vw;
}
.login{
    border-radius: 50px;
    border: none;
    margin-left: 7%;
    font-size: small;
}
.login:hover,.signup:hover{
    background-color: blue;
}
.backgroundimg{
    position: relative;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.loginPage{
    height: 70vh;
    width: 36vw;
    position: absolute;
    top: 20vh;
    left:32vw;
    background: linear-gradient(0deg, rgba(30,11,66,1) 0%, rgba(0,0,0,0) 100%);
    border: 2px solid #BD00FF;
}
.sign{
    margin-top: 3%;
}

.sign{
    font-size: 18px;
}
.signdown{
    font-size: 14px;
}
.sign,.signdown{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.social-media{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .ellipse{
    position: relative;
} */

.google,.tweeter,.facebook{
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items:center ;
   margin-right: 1vw;
}

.emailup,.passup{
    height: 5%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
    padding-left:10% ;
}

.email,.password{
    height: 8%;
    width: 80%;
    background-color: white;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-left: 1.5vw;
    font-size: large;
    padding-top: 1%;
    overflow-y:inherit;
}

.passdown{
    display: flex;
    margin-left: 10%;
    height: 5%;
    width: 80%;
}

.checkbox{
    height: 100%;
}

.check-side {
    color: white;
    margin-left: 5%;
    font-size:medium;
    display: flex;
    align-items: center;
}

.loginBtn{
    margin-top: 5vh;
    margin-left: 20%;
    height: 8%;
    width: 60%;
    background-color:#0094FF ;
    border-radius:50px ;
    display: flex;
    justify-content:center ;
    align-items: center;
    color: white;
    font-size: larger;
}

.loginBtn:hover{
    cursor: pointer;
}
::placeholder {
    color: #a5a2a2;
    font-size: 18px;
    padding-left: 2%;
  }


    @media screen and (max-width:1050px){
        .loginPage{
            height: 70vh;
            width: 80vw;
            position: absolute;
            top: 15vh;
            left:10vw;
            
        }
}

@media screen and (max-width:600px){
    .loginPage{
        height: 90vh;
        width: 100vw;
        position: absolute;
        top: 10vh;
        left:0vw;
        
    }
    .navbar{
        padding-top: 1vh;
    }
    .check-side {
        font-size: large;
    }
    .navbar-nav{
        margin-left: 0vw;
    }

    .btn{
        width: 30vw;
    }

    .login{
        margin-left: 0vw;
    }

}

