*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    overflow-x: hidden;
}
.navbar{
    padding-top: 5vh;
}

.navbar-nav{
    margin-left: 18vw;
}

.esports{
    font-size: xx-large;
}

.navfont{
    font-size: medium;
    color: white;
    margin-left: 1.5vw;
    text-decoration: none;
}
.navfont:hover{
    color: blue;
    border-bottom: 1px solid orange;
}

.esports{
    margin-left: 5vw;
}
.btn-sub{
    height: 7vh;
    width: 8vw;
}
.signup{
    margin-right: 5vw;
    font-size: small;
    border-radius: 50px;
}

.linkimg{
    margin-right: 0.5vw;
}
.login{
    border-radius: 50px;
    border: none;
    margin-left: 7%;
    font-size: small;
}

.login:hover,.signup:hover{
    background-color: blue;
}

.Plyde{
    padding-top: 20vh;
    padding-left: 20vw;
}

.baseimg{
    width: 100%;
    position: relative;
    background-size: cover;
}

.baseContent{
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 60vh;
    width: 100%;
}

.baseContentPicinfo{
    width:14%;
}

.baseContentPic{
    background: white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.baseContentinfo{
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   border: 1px solid white;
}

.baseContentCustomise{
    font-size: 12px;
    color:white;
}

.baseContentProfile{
    margin-left: 5%;
    width: 75%;
}

.baseContentProfileName{
    color: white;
    font-size: 36px;
}

.baseContentProfileinfo{
    display: flex;
    width: 100%;
    margin-top: 2vh;
    color: white;
}


.progress{
    background-color: blue;
}

.progress-bar{
    background-color: #BD00FF;
}

.levelmid{
 margin-left: 34%;
 color: orange;
}
.levelmax{
    margin-left: 32%;
}
.XP{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.mid1-option{
    margin-top: 5vh;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.option{
    font-size: 15px;
    margin-right: 2vw;
    color: white;
}

.option:hover{
    color: #66FF30;
    border-bottom: 1px solid #66FF30;
    cursor: pointer;
}
.option{
    margin-left: 2vw;
    margin-right: 2vw;
    text-decoration: none;
}

.hr-div{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr{
    width: 45vw;
    
    color: #66FF30;
    
}

.const{
    margin-top:5% ;
    margin-bottom:10% ;
    width: 100%;
    background-color: #010518;
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.slide1-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide1{
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.slide-content1{
    font-size: 24px;
}

.slide-content2{
    width:55% ;
    margin-top: 5%;
    color: #1D8CF8;
    border: 1px solid #1D8CF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}

.slide2-bar{
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 3%;
    /* align-items: center; */
}

.slide2-bar-img{
    margin-right: 0.5vw;
    /* margin-bottom: 5%; */
}

.up2
{
    width: 10vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box{
    height: 10vh;
    width: 70vw;
    display: flex;
    border: 1px solid blue;
    background-color: #1E014E;
}

.game-box-img{
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-box-vs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: large;
    font-weight: bold;
    color: white;
}

.game-box-detail{
    width: 15vw;
    margin-left: 3vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.game-box-game{
    margin-left: 3vw;
    width:15vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.game-box-score{
    /* margin-left: 11vw; */
    width: 15vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.game-box-winner{
    margin-left: 2vw;
    width: 15vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.game-box-date{
    /* margin-left: 7vw; */
    width: 15vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.game-box-detail-twitch{
    margin-left: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game-box-detail-twitchstream{
    margin-left: 2vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box-3{
    height: 10vh;
    width: 60%;
    display: flex;
    border: 1px solid blue;
    background-color: #1E014E;
}
.game-box-game{
    margin-left: 1vw;
}
.slide-3-name,.slide-3-date{
    color: #1D8CF8;
    margin-left: 1vw;
    width: 20vw;
}
.slide3-cod{
    width: 10vw;
    margin-left: 4vw;
    
}
.slide-3-reward{
    margin-left: 5vw;
}
.game-box-4{
    height: 8vh;
    width: 70vw;
    display: flex;
    border: 1px solid blue;
    background-color: #1E014E;
}
.game-box-COD{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 3vw; */
    /* margin-right: 0.5vw; */
    width: 10vw;
    /* font-size: large; */
    /* font-weight: bold; */
    color: white;
}
.slide-4-friend{
 margin-left: 5vw;
}

.Share-slide-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Share-slide-1-img{
    height: 10vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Share-slide-1-value{
    height: 10vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Notifications-slide{
    width: 100%;
}
.notification-img{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-content{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    margin-bottom: 15%;
}
.mid2,.mid1{
    background-color: #010518
}
.multiple-game-row{
    margin-left: 10vw;
    display: flex;
}
.multiple-game-col{
   margin-left: 1vw;
}


.footerbg{
    overflow-y: hidden;
    background-color: #010518;
    color: white;
    border: 1px solid #1A276F;
    /* height: 30vh; */
}

.foothead{
    font-size: x-large;
    font-weight: 800;
}

.footnav{
    font-size: small;
}
 
@media screen and (max-width:570px){
    .navbar-nav{
        /* padding-left: 8vw; */
        margin-left: 0vw;
    }
    .esports{
        margin-left: 0vw;
    }
     .baseimg{
        height:100vh;
        position: relative;
    }
    
    .baseContent{
        position: absolute;
        top: 20vh;
        /* height: 80vh; */
       
    } 
    .mid1-option{
        height: 20vh;
    }
    .game-box{
        height: 40vh;
        display:flex;
        flex-wrap: wrap;
    }

    .game-box-3,.game-box-4{
        display:flex;
        flex-wrap: wrap;
        height: 20vh;
    }
    
    .slide2-bar{
        display: none;
    }

    .Plyde{
        padding-top: 0vh;
        padding-left: 0vw;
    }

    .Share-slide-1{
        display: none;
    }
    
}